{% macro basic(message, type) %}
<div class="alert-container">
    <div class="alert-message {{ type | default('warning') }}" data-alert="alert">
        <a class="close" href="#">×</a>
        <p>{{ message }}</p>
    </div>
</div>
{% endmacro %}

{% macro block(message, type, buttons) %}
<div class="alert-container">
    <div class="alert-message block-message {{ type | default('warning') }}" data-alert="alert">
        <a class="close" href="#">×</a>
        <p>{{ message }}</p>
        {% if buttons is defined %}
        <div class="alert-actions">
            {% for text, link in buttons %}
            <a class="btn small" href="{{ link }}">{{ text }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro show(type, options) %}
{% if app.session.hasFlash('warning') %}
    {% if type == 'block' %}
        {{ _self.block(app.session.flash('warning'), 'warning', options.buttons | default([])) }}
    {% else %}
        {{ _self.basic(app.session.flash('warning'), 'warning') }}
    {% endif %}
{% endif %}

{% if app.session.hasFlash('info') %}
    {% if type == 'block' %}
        {{ _self.block(app.session.flash('info'), 'info', options.buttons | default([])) }}
    {% else %}
        {{ _self.basic(app.session.flash('info'), 'info') }}
    {% endif %}
    
{% endif %}

{% if app.session.hasFlash('success') %}
    {% if type == 'block' %}
        {{ _self.block(app.session.flash('success'), 'success', options.buttons | default([])) }}
    {% else %}
        {{ _self.basic(app.session.flash('success'), 'success') }}
    {% endif %}
{% endif %}

{% if app.session.hasFlash('error') %}
    {% if type == 'block' %}
        {{ _self.block(app.session.flash('error'), 'error', options.buttons | default([])) }}
    {% else %}
        {{ _self.basic(app.session.flash('error'), 'error') }}
    {% endif %}
{% endif %}

{% endmacro %}
